body {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
h1{
    margin: 0
}

.top {
    height: 600px;
    background-image:url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-Global.png');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 80px

}

.top h1 {
    color: #fff;
    text-shadow: 3px 3px #000;
    font-size: 60px;
}
.top p {
    color: #f0f0f0;
    text-shadow: 3px 3px 3px #000;
    font-size: 30px;
    line-height: 1.5;
}
.top a, .main a{
    font-size:26px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    background: #666;
    padding: 10px 30px;
    border-radius: 5px;
}
.main {
    display: flex;
    margin: 60px 0;

}
.main > div {
    width: 50%;
}
.right-sec {
    padding-left: 60px;
}
.small-images {
    display: flex;
    justify-content: space-between;
}
.small-images img {
    width: 33%;

}
.page2 {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-LHD-v2.jpg');
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0;

}
.product{
 width: 30%;
 margin: 10px;
 border: 1px solid #777;
 padding: 8px;
 border-radius: 5px;
 box-shadow: 5px 5px 10px #777;
}